# -------- PYTHON --------
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# -------- VENV --------
venv/
.env/
.env
env/

# -------- IDE --------
.vscode/
.idea/

# -------- OS --------
.DS_Store
Thumbs.db

# -------- LOGS --------
*.log


# -------- MODEL FILES --------
models/
*.bin
*.pt
*.pth

# -------- VECTOR DB --------
vector_db/

# -------- HUGGINGFACE CACHE --------
.cache/
huggingface/
hf_cache/

# -------- TORCH CACHE --------
torch_cache/

# -------- STREAMLIT --------
.streamlit/

# -------- SECRETS --------
.env
.env.local